[Unit]
Description=lucidsight haproxy ansible wrapper

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/ansible-haproxy-wrapper.sh
#RemainAfterExit=true
StandardOutput=journal
#WatchdogSec=120
#Restart=always

[Install]
WantedBy=multi-user.target